<?xml version="1.0" encoding="utf-8"?>
<Root>
  <AuthorityRemind>
    <Title>
      <![CDATA[贵站【{$WebName}】违规]]>
    </Title>
    <EmailBody>
      <![CDATA[
<p>　　您好，贵单位网站【{$Domain} {$WebName}】使用了本团队的jumbotcms网站管理系统，jumbotcms免费的前提是保留&ldquo;powered by jumbotcms&rdquo;的字样，如因特殊原因想去除版权信息，需购买授权。</p>
<p>　　如果在未经授权的情况下，擅自去除版权信息的，我们将保留法律诉讼的权利。</p>
<p>　　请贵单位相关负责人尽快与我们取得联系，QQ：4259024 E-mail：4259024@qq.com。</p>
<p>　　最后祝工作顺利。</p>
]]>
    </EmailBody>
    <MobileBody>
      <![CDATA[贵单位网站【{$Domain} {$WebName}】未经授权使用了本团队的jumbotcms网站管理系统，请贵单位相关负责人尽快与我们取得联系，QQ：4259024，最后祝工作顺利。]]>
    </MobileBody>
  </AuthorityRemind>
</Root>