<?xml version="1.0" encoding="utf-8" ?>
<Pages>
  <!--格式和url重写是关联的，请勿随意更改(此文件系二次开发者专用)-->
  <Site>
    <!--首页页格式-->
    <P_1><![CDATA[<#SiteDir#>index<#SiteStaticExt#>]]></P_1>
    <!--如果站点启用伪静态-->
    <P_0><![CDATA[<#SiteDir#>index<#SiteStaticExt#>]]></P_0>
    <!--如果站点不启用伪静态-->
  </Site>
  <Channel><!--频道页格式-->
    <P_1><![CDATA[<#SiteDir#><#ChannelDir#>/index<#SiteStaticExt#>]]></P_1>
    <!--如果站点启用伪静态-->
    <P_0><![CDATA[<#SiteDir#><#ChannelDir#>/index<#SiteStaticExt#>]]></P_0>
    <!--如果站点不启用伪静态-->
  </Channel>
  <Class><!--列表页格式-->
    <P_2_1><![CDATA[<#SiteDir#><#ChannelDir#><#ClassFilePath#>/index<#SiteStaticExt#>]]></P_2_1>
    <!--第1页格式，条件是该频道静态化-->
    <P_2_N><![CDATA[<#SiteDir#><#ChannelDir#><#ClassFilePath#>/index_<#page#><#SiteStaticExt#>]]></P_2_N>
    <!--第n页格式，条件是该频道静态化-->
    <P_1_1><![CDATA[<#SiteDir#>class-<#ChannelId#>-<#id#>.aspx]]></P_1_1>
    <!--第1页格式，条件是该频道未静态化，且站点启用伪静态-->
    <P_1_N><![CDATA[<#SiteDir#>class-<#ChannelId#>-<#id#>(<#page#>).aspx]]></P_1_N>
    <!--第n页格式，条件是该频道未静态化，且站点启用伪静态-->
    <P_0_1><![CDATA[<#SiteDir#><#ChannelDir#>/class.aspx?id=<#id#>]]></P_0_1>
    <!--第1页格式，条件是该频道未静态化，且站点未启用伪静态-->
    <P_0_N><![CDATA[<#SiteDir#><#ChannelDir#>/class.aspx?id=<#id#>&page=<#page#>]]></P_0_N>
    <!--第n页格式，条件是该频道未静态化，且站点未启用伪静态-->
  </Class>
  <Rss><!--rss页格式-->
    <P_1_1><![CDATA[<#SiteDir#>plus/rss.aspx?ChannelId=<#ChannelId#>&id=<#id#>]]></P_1_1>
    <!--第1页格式，条件是该频道未静态化，且站点启用伪静态-->
    <P_1_N><![CDATA[<#SiteDir#>plus/rss.aspx?ChannelId=<#ChannelId#>&id=<#id#>&page=<#page#>]]></P_1_N>
    <!--第n页格式，条件是该频道未静态化，且站点启用伪静态-->
    <P_0_1><![CDATA[<#SiteDir#><#ChannelDir#>/rss.aspx?id=<#id#>]]></P_0_1>
    <!--第1页格式，条件是该频道未静态化，且站点未启用伪静态-->
    <P_0_N><![CDATA[<#SiteDir#><#ChannelDir#>/rss.aspx?id=<#id#>&page=<#page#>]]></P_0_N>
    <!--第n页格式，条件是该频道未静态化，且站点未启用伪静态-->
  </Rss>
  <View><!--内容页格式-->
    <P_2_1><![CDATA[<#SiteDir#><#ChannelDir#>/detail_<#year#>_<#month#>/<#day#>/<#id#><#SiteStaticExt#>]]></P_2_1>
    <!--第1页格式，条件是该频道静态化-->
    <P_2_N><![CDATA[<#SiteDir#><#ChannelDir#>/detail_<#year#>_<#month#>/<#day#>/<#id#>_<#page#><#SiteStaticExt#>]]></P_2_N>
    <!--第n页格式，条件是该频道静态化-->
    <P_1_1><![CDATA[<#SiteDir#><#ChannelType#>-<#ChannelId#>-<#id#>.aspx]]></P_1_1>
    <!--第1页格式，条件是该频道未静态化，且站点启用伪静态-->
    <P_1_N><![CDATA[<#SiteDir#><#ChannelType#>-<#ChannelId#>-<#id#>(<#page#>).aspx]]></P_1_N>
    <!--第n页格式，条件是该频道未静态化，且站点启用伪静态-->
    <P_0_1><![CDATA[<#SiteDir#><#ChannelDir#>/<#ChannelType#>.aspx?id=<#id#>]]></P_0_1>
    <!--第1页格式，条件是该频道未静态化，且站点未启用伪静态-->
    <P_0_N><![CDATA[<#SiteDir#><#ChannelDir#>/<#ChannelType#>.aspx?id=<#id#>&page=<#page#>]]></P_0_N>
    <!--第n页格式，条件是该频道未静态化，且站点未启用伪静态-->
  </View>
</Pages>
