<?xml version="1.0" encoding="utf-8" ?>
<Module>
  <article>
    <path><![CDATA[/uploadfiles]]></path>
    <type><![CDATA[*.jpg;*.gif;]]></type>
    <size>1024</size><!--单位为KB-->
  </article>
  <photo>
    <path><![CDATA[/uploadfiles]]></path>
    <type><![CDATA[*.jpg;*.bmp;*.gif;*.png;]]></type>
    <size>1024</size><!--单位为KB-->
  </photo>
  <soft>
    <path><![CDATA[/uploadfiles]]></path>
    <type><![CDATA[*.rar;*.zip;*.7z]]></type>
    <size>5120</size><!--单位为KB-->
  </soft>
  <video>
    <path><![CDATA[/uploadfiles]]></path>
    <type><![CDATA[*.flv;*.avi;*.swf;]]></type>
    <size>10240</size><!--单位为KB-->
  </video>
</Module>
