<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><jcms:site.page.title/></title>
<meta http-equiv="Content-Language" content="zh-CN" /><meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /><meta name="keywords" content="<jcms:site.page.keywords/>" /><meta name="description" content="<jcms:site.page.description/>" /><meta name="author" content="<jcms:site.author/>" />
<script type="text/javascript" src="{site.Dir}_libs/jquery.tools.pack.js"></script>
<script type="text/javascript" src="{site.Dir}_data/jcmsV5.js"></script>
<link type="text/css" rel="stylesheet" href="{site.Dir}_data/jcmsV5.css" />
<link type="text/css" rel="stylesheet" href="{site.Dir}themes/default/css/global.css" id="cssTheme" />
<base href="<jcms:site.page.basehref/>">
</head>
<body>
<div id="divBody" class="jbody">
	<!--#include virtual="/_data/shtm/header.htm" -->
	<!--~搜索条~-->
	<script type="text/javascript">document.write(_jcms_SearchBar());</script>
	
	<div class="main pbody">
		<div class="my-left">
			<!--~位置导航~-->
			<div class="thispagenav mt5">
				<div class="title"></div>
				<div class="placenav"><jcms:site.page.nav/> </div>
			</div>
			<div class="newsview">
				<div class="title" ondblclick="ShowEditDiv('{$ChannelType}',{$ChannelId},{$_id})">
					<h1 title="{$_title}" id="title">{$_title}</h1>
				</div>
				<div class="info"> <span>{$_sourcefrom}</span> <span>时间:{$_adddate}</span> <span>阅读:{$_viewnum}次</span>  <span>{$_author}</span></div>
				<div class="intro" id="intro">{$_summary}</div>
				<div id="content">
				
					<div class="sads"><script type="text/javascript" src="{site.Dir}_data/style/more/3.js"></script></div>
					<div id="articlebody">
						<div class="b"> {$Content}</div>
						<p class="editor"> [责任编辑：{$_editor}]</p>
						{$_getPageBar()}
						<div class="clear"></div>
					</div>
				</div>
				<div class="clear"><!--~清除浮动~--></div>
				<div class="newsother"><div class="divDigg"><script type="text/javascript" src="{site.Dir}digg/default.aspx?id={$_id}&cType={$ChannelType}"></script></div></div>
				<div class="clear"><!--~清除浮动~--></div>
				<!--~操作~-->
				<div class="operbar"><div class="share"><!--#include virtual="/_data/shtm/share.htm" --></div><span class="r">[<a href="{site.Dir}review/default.aspx?ccid={$ChannelId}&ctype={$ChannelType}&id={$_id}">发表评论</a>]</span> <span class="r">[<a href="javascript:addFavorite({$ChannelId},'{$ChannelType}',{$_id});" title="本站会员收藏">本站收藏</a>]</span></div>
				<div class="context">
					<div class="neightor"> {$_getNeightor()}</div>
				</div>
				<div class="clear"><!--~清除浮动~--></div>
			</div>
		</div>
		<div class="my-right">
			<div class="rightlist mt5">
				<div class="title"><strong>相关{$ChannelItemName}</strong></div>
				<div class="body gplist">
					<dl>
						<dd>
<jcms:contentloop channelid="{$ChannelId}" classid="0" repeatnum="10" fields="title" wherestr="id小于{$_id}" islike="1" keywords="{$_tags}">
<ul>
<#foreach content>
<li><a href="$_{url}" title="$_{title}">${field.title}</a></li>
<#/foreach>
</ul>
</jcms:contentloop>
						</dd>
					</dl>
				</div>
			</div>
			<div class="rightbox1 mt5">
				<div class="bar1" id="CTab">
					<a href="#CxTab1" class="s">最新{$ChannelItemName}</a>
					<a href="#CxTab2">推荐{$ChannelItemName}</a>
				</div>
				<div>
					<div id="CShow" class="body"></div>
					<div style="display:none;" id="CxTab1"><jcms:contentloop channelid="{$ChannelId}" classid="0" repeatnum="10" fields="title,tcolor" wherestr="id<={$_id}">
<ul>
<#foreach content>
<li><a href="$_{url}" title="$_{title}" style="color:${field.tcolor}">${field.title}</a></li>
<#/foreach>
</ul>
</jcms:contentloop></div>
					<div style="display:none;" id="CxTab2"><jcms:contentloop channelid="{$ChannelId}" classid="0" repeatnum="10" fields="title,tcolor" wherestr="id<={$_id}" istop="1">
<ul>
<#foreach content>
<li><a href="$_{url}" title="$_{title}" style="color:${field.tcolor}">${field.title}</a></li>
<#/foreach>
</ul>
</jcms:contentloop></div>
					<div class="clear"></div>
				</div>
			</div>
			<script type="text/javascript">var iTab3=new jTab('CTab','CShow','more');</script>
			<div class="right-baidu"><!--#include virtual="/_data/shtm/more/5.htm" --></div>
		</div>
		<div class="clear">
			<!--~清除浮动~-->
		</div>
	</div>
	<!--~页面底部~-->
	<!--#include virtual="/_data/shtm/footer.htm" -->
</div>
<script type="text/javascript">$('#topnav li.channel{$ChannelId}').addClass("current");</script>
<script type="text/javascript">get_user_status(0);</script>
<!--~高亮关键词，官网不想用了
<script>replaceContentTags({$ChannelId},'{$ChannelType}','{$_tags}','divBody');</script>
~-->
</body>
</html>
