<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><jcms:site.page.title/></title>
<meta http-equiv="Content-Language" content="zh-CN" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta name="keywords" content="<jcms:site.page.keywords/>" />
<meta name="description" content="<jcms:site.page.description/>" />
<meta name="author" content="<jcms:site.author/>" />
<script type="text/javascript" src="{site.Dir}_libs/jquery.tools.pack.js"></script>
<script type="text/javascript" src="{site.Dir}_data/jcmsV5.js"></script>
<link type="text/css" rel="stylesheet" href="{site.Dir}themes/default/slide/css/photo.css" media="screen" />
<base href="<jcms:site.page.basehref/>">
</head>
<body>
<div class="main">
  <div class="nav">
    <div class="navList navList02"><jcms:site.page.nav/></div>
    <div class="clear"></div>
  </div>
  <script type="text/javascript"> 
  prevLink = "{$PrevLink}";
  nextLink = "{$NextLink}";
  function getpos(element) {
    if (arguments.length != 1 || element == null) {
      return null;
    }
    var elmt = element;
    var offsetTop = elmt.offsetTop;
    var offsetLeft = elmt.offsetLeft;
    var offsetWidth = elmt.offsetWidth;
    var offsetHeight = elmt.offsetHeight;
    while (elmt = elmt.offsetParent) {
      if (elmt.style.position == 'absolute' || (elmt.style.overflow != 'visible' && elmt.style.overflow != '')) {
        break;
      }
      offsetTop += elmt.offsetTop;
      offsetLeft += elmt.offsetLeft;
    }
    return {
      top: offsetTop,
      left: offsetLeft,
      right: offsetWidth + offsetLeft,
      bottom: offsetHeight + offsetTop
    };
  }
  function imageonmousemove(evnt) {
    var imagepos = getpos($i("bigImage"));
    if (evnt) {
      nx = (parseInt(evnt.clientX) - imagepos.left) / $i("bigImage").width;
	if (nx > 0.5 && nextLink.length>10) {
        if($i("bigLink").style.cursor.toString().indexOf("left")!=-1||!$i("bigLink").style.cursor){
		$i("bigLink").style.cursor = "url({site.Dir}themes/default/slide/images/right.cur),auto";
	}
        $i("bigImage").title = "点击浏览下一张>>";
        $i("bigLink").href = nextLink;
      }
      if (nx <= 0.5 && prevLink.length>10) {
        if($i("bigLink").style.cursor.toString().indexOf("right")!=-1||!$i("bigLink").style.cursor){
		$i("bigLink").style.cursor = "url({site.Dir}themes/default/slide/images/left.cur),auto";
	}
        $i("bigImage").title = "<<点击浏览上一张";
        $i("bigLink").href = prevLink;
      }
    }
  }
  document.onkeydown = pageEvent;
  function pageEvent(evt) {
    evt = evt || window.event;
    var key = evt.which || evt.keyCode;
    if (key == 37) location = preLink;
    if (key == 39) location = nextLink;
  };
</script>
  <div class="slideMHD" id="test">
    <div class="titleM" style="margin-top:0px;">
      <div class="title fz20 cgray line24">{$_title}<span class="fenye">(<span class="fz24" style="font-size:20px;">{$CurrentPage}</span>/{$TotalPage})</span></div>
      <div class="clear"></div>
    </div>
    <div class="slideNews" id="imgBox">
      <div style="text-align:center" class="picDiv" id="picDiv"> <a href="javascript:void(0);" id="bigLink"><img onmousemove="imageonmousemove(event)" id="bigImage" src="{$CurrentPhotoUrl}" /></a>
        <p class="info">{$CurrentPhotoTitle}</p>
        <p class="summary">{$_summary}</p>
      </div>
      <div class="moreList" id="moretab" style="display:none;height:655px;"><ul id="imagelist"></ul></div>
      <script type="text/javascript">
          function showall() {
            $i("moretab").style.display == "none" ? $i("moretab").style.display = "" : $i("moretab").style.display = "none";
            $i("picDiv").style.display == "none" ? $i("picDiv").style.display = "" : $i("picDiv").style.display = "none";
          }
        </script>
      <div class="functionPic">
        <div class="none"> <img src="{site.Dir}themes/default/slide/images/icon_11.gif" width='11' height="11" /> <a href="{$ClassLink}" target="_blank">更多图片</a> </div>
        <div> <img src="{site.Dir}themes/default/slide/images/icon_10.gif" width='11' height="11" /> <a href="javascript:void(0);" onclick="showall();">全部图片</a> </div>
        <div> <img src="{site.Dir}themes/default/slide/images/icon_09.gif" width="11" height="11" /> <a href="{$CurrentPhotoUrl}" target="_blank">查看原图</a> </div>
      </div>
      <div class="clear"></div>
      <div class="slideList">
        <div id="before" class="before"> <a target="_self"><img src="{site.Dir}style/common/nophotolist.jpg" /></a>
          <p><a target="_self">&lt;&lt;&nbsp;上一{$ChannelItemUnit}{$ChannelItemName}</a></p>
        </div>
<jcms:contentloop channelid="{$ChannelId}" classid="{$ClassId}" repeatnum="1" wherestr="id小于{$_id}" ordertype="desc" fields="[title],[isimg],[img]">
<#foreach content>
  <script type="text/javascript">
	$i("before").getElementsByTagName("a")[0].href="$_{url}";
	$i("before").getElementsByTagName("a")[1].href="$_{url}";
	$i("before").getElementsByTagName("img")[0].src="$_{img}";
    </script>
<#/foreach>
</jcms:contentloop>
        <div class="picList">
          <div class="l1"><img src="{site.Dir}themes/default/slide/images/icon_28.gif" width="22" id="scrollleft" /></div>
          <div class="l2">
            <div class="listM" style="position:relative">
              <ul id="scrollcontent"></ul>
            </div>
            <div class="scrollBar">
              <div class="drag" id="scrollbar" style="left: 0px;visibility:visible;"><img height="19" width="162" src="{site.Dir}themes/default/slide/images/icon_39.gif"></div>
            </div>
          </div>
          <div class="l3"><img src="{site.Dir}themes/default/slide/images/icon_31.gif" width="22" id="scrollright" /></div>
        </div>
        <div id="after" class="after"> <a target="_self"><img src="{site.Dir}style/common/nophotolist.jpg" /></a>
          <p><a target="_self">下一{$ChannelItemUnit}{$ChannelItemName}&nbsp;&gt;&gt;</a></p>
        </div>
<jcms:contentloop channelid="{$ChannelId}" classid="{$ClassId}" repeatnum="1" wherestr="id大于{$_id}" ordertype="asc" fields="[title],[isimg],[img]">
<#foreach content>
  <script type="text/javascript">
	$i("after").getElementsByTagName("a")[0].href="$_{url}";
	$i("after").getElementsByTagName("a")[1].href="$_{url}";
	$i("after").getElementsByTagName("img")[0].src="$_{img}";
    </script>
<#/foreach>
</jcms:contentloop>
        <div class="clear"></div>
      </div>
      <div class="space20"></div>
      <div class="clear"></div>
    </div>
    <div class="smooth"></div>
    <div class="clear"></div>
  </div>
  <div class="bottom">
    <div class="footLink"></div>
    <div class="copyright">
      <jcms:site.name/>&nbsp; 版权所有<br />
      <p style="display:none;"><script src="http://s96.cnzz.com/stat.php?id=1433991&web_id=1433991&show=pic" language="JavaScript"></script></p>
    </div>
  </div>
</div>
<script type="text/javascript">
var $ChannelId = {$ChannelId};var $Id = {$_id};var $CurrentPage = {$CurrentPage};var $TotalPage = {$TotalPage};
var barUnitWidth = ($TotalPage-5)*118 / 418;
var slideJSON = {$SlideJSON};
</script>
<script type="text/javascript" src="{site.Dir}themes/default/slide/js/slide.core.js"></script>
<div class="hide"> 阅读：{$_viewnum}次</div>
</body>
</html>
